@model System.Collections.Generic.List<Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole>

@{
    ViewBag.Title = "Roles";
    Layout = "_Layout";
}

<h2>System Roles</h2>

<div class="row" style="margin-bottom: 10px">
    <a asp-action="Create" class="btn btn-primary">Add role</a>
    <a asp-action="UserList" class="btn btn-primary">View User List</a>
</div>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </td>
        </tr>
    }
</table>
