@using BackEnd.ViewModels.UserViewModels
@model BackEnd.ViewModels.UserViewModels.CreateUserViewModel

@{
    ViewBag.Title = "Create user";
    Layout = "_Layout";
}

<h2>Create user</h2>

<form asp-controller="User" asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Password" class="control-label">Password</label>
        <input type="password" asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-default" />
    </div>
</form>
